[user]
	email = user@user.com
	name = user

[core]
	editor = code --wait
	pager = less -F

[log]
	date = format:%d/%m/%Y %H:%M
	abbrevCommit = true

[push]
	autoSetupRemote = true

[branch]
	autoSetupRebase = always

[rerere]
	enabled = true
	autoupdate = false

[submodule]
	recurse = true

[help]
	autoCorrect = prompt

[gc]
	rerereUnresolved = 21
	rerereResolved = 21

[alias]
	back = reset HEAD~1
	initrerere = rerere forget .
	l = log --oneline --graph --decorate --pretty=format:'%C(yellow)%h%Creset -%C(auto)%d%Creset %C(auto)%s%Creset %C(white dim)%an %ad%Creset'
	s = status --short --branch
	st = status
	search = l --all --grep
	squash = "!f() { \
		git reset --soft HEAD~${1}; \
		git commit --amend --no-edit; \
	}; f"

[color "branch"]
	current = green reverse
	local = green
	remote = yellow

[color "status"]
	added = green bold
	changed = yellow
	untracked = cyan
